[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/SUV-Lab/px4_msgs.git
	branch = v1.14/humble
[submodule "src/QHAC5/ThirdPart/mavlink"]
	path = src/QHAC5/ThirdPart/mavlink
	url = https://github.com/SUV-Lab/mavlink.git
	branch = v1.14/humble
